body {
	background-image: url(igloo.jpg);
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    margin: 0;
    padding: 0;
	border: 0;
}

h1 {
	font-family: Ubuntu;
	background-color: rgb(40, 0, 60);
	color: white;
	margin: 0;
    padding: 20px;
	border: 0;
	font-size: 60px;
	text-align: center;
}

p {
	font-family: Lora;
	font-weight: bold;
	margin-right: 100px;
	margin-left: 0px;
	margin-top: 0;
	padding-top: 00px;
	padding-bottom: 0px;
}

#amount{
	text-align: center;
}

#full {
	height: 100vh;
    width: 100%;
    margin: 0;
}

#bottom {
	margin-top: 0;
	margin-bottom: 0;
}

#my_image {
	margin-left: 40%;
	height: 60vh;
}

#my_image2 {
	margin-left: 5%;
	height: 60vh;
}

.speech-bubble {
	position: relative;
}

#text {
	position: absolute;
	top: 100px;
	left: 100px;
}

#footer {
	font-size: 13px;
	text-align: center;
}
